* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    background-image: url("./logo.png");
    background-size: cover;
    height: 80px;
    width: 161px;
    border-radius: 20px;
}
nav {
    height: 80px;
    background: black;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 100px;
}

nav .logo {
    font-size: 33px;
    color: white;
    font-weight: 600;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

#click:checked~ul {
    left: 0%;
    transition: all 0.4s ease;
}

/* #click:unchecked ~ ul{
    transition: all 0.4s ease;
} */
nav ul li {
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    /* background-color: white; */
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #1b1b1b;
    background-color: white;
}

nav .menu-btn {
    cursor: pointer;
    color: #fff;
    display: none;
}

nav .menu-btn .fas {
    color: #fff;
    font-size: 22px;
    cursor: pointer !important;
    /* display: none; */
}

#click {
    display: none;
}

@media (max-width: 940px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: 0;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        left: -100%;
    }

    nav .menu-btn {
        display: block;
    }

    nav ul li {
        margin: 40px 0;


    }

    nav ul li a {
        font-size: 20px;
        display: block;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: cyan;
        background: none;
    }
}

body {
    background-image: url("https://Spark.github.io/bk2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    height: 100%;

}

@media (max-width:940px) {
    body {
        background-image: url("https://Spark.github.io/bk1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        height: 100%;
      
    }
}
.timeline{
    min-height: 54vh;
    text-align: center;
    /* display: flex; */
    margin-top: 90px;
}
.timeline h1{
    display: inline-block;
    /* width: 314px; */
    /* border: #4b4c4d solid 1px; */
    padding-bottom: 36px;
    /* border-radius: 31px; */
}
.timeline .contact{
    display: inline-block;
    width: 314px;
    border: #4b4c4d solid 1px;
    padding-bottom: 36px;
    border-radius: 31px;
}
.align{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 34px;
    text-decoration: none;
    margin-bottom: 292px;

}
@media (max-width:940px)
{
    .align{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 50px;
        
    }
    .num1{
        padding: 40px;
        margin: 20px;
    }
 
}
 .num1{
    display: flex;
    /* display: inline-block; */
    font-size: 42px;
    text-decoration: none;
    font-weight: 20px;
    width: 229px;
    border: 1px solid orange;
    text-align: center;
    height: 83px;
    border-radius: 15px;
    justify-content: center;
align-items: center;
background: #df9f5bd1; ;
}
 .num1 a{
    /* display: inline-block; */
    color: #fff;
    text-decoration: none;
font-weight: 60px;
}
.num1:hover{
    background: rgba(243, 96, 43,0.7);
    transform: scale(1.1);
}
.about{
    color: white;
    padding: 20px;
    margin: 10px;
}
.about h1{
    display: flex;
    top: 20%;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 80px;
}
.info{
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 2px;
    text-align: center;
    padding: 0px 10px;
}
@media (max-width:940px)
{
    .about h1{
        font-size: 60px;
    }
}
.space{
    height: 40px;
}
.events h1{
    color: white;
    display: inline-block;
    top: 20%;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 60px;
    border: 1px solid black;
    background: #d99a57c9;
    border-radius: 13px;
}
.container-main {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards {
    background-color: rgb(144, 148, 148);
    width: 220px;
    height: 329px;
    margin: 10px;
    border-radius: 10px;
}

.card-img {
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.veges {
    background-image: url("https://Spark.github.io/quiz.jpg");
}

.fruit {
    background-image: url("https://Spark.github.io/team.jpg");
}

.dairy {
    background-image: url("https://Spark.github.io/iitm.webp");
}



p.cat {
    width: 100px;
    height: 100px;
    margin: auto;
}

.title {
    text-align: center;
}

.quotes {
    text-align: center;
}
.cards:hover {
    background-color: rgba(222, 220, 137, 0.74);
    transform: scale(1.05);
}

.cards a {
    text-decoration: none;
}
/* .register{
    height: 40px;
    padding-top: 30px;
    /* padding-bottom: 50px; */
    /* text-align: center; */
  
/* }
@media (max-width:940px)
{
    .register{
        height: 50px;
        padding-bottom: 50px;
    }
}
.register a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    background-color: #fd7e14;
    height: 15px;
} */ 
h3{
    text-align: center;
}
.contact{
    color: #fff;
    text-align: center;
    padding-top: 40px;
    font-size: 55px;
    letter-spacing: 1px;
}
.num{
    color: #fff;
    text-align: center;
    padding-top: 40px;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 100px;
}
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #ededed;
   
}

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    list-style: 1.6;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;

}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    color: rgb(160, 145, 145);
}

.footer .copyright {
    margin: 15px;
    text-align: center;
    font-size: 20px;
}
